.canvas {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-background-regular);
}

@media (prefers-reduced-motion: reduce) {
  .canvas {
    display: none;
  }
}

@media (min-width: 1024px) {
  .canvas {
    display: block;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--color-background-regular);
}
