.html {
  --color-primary: hsl(44, 100%, 69%);
  --color-primary-hover: hsl(44, 100%, 69%, 0.9);
  --color-text-regular: hsl(0, 0%, 100%);
  --color-text-light: hsla(0, 0%, 100%, 0.6);
  --color-text-dark: hsl(44, 100%, 69%);
  --color-background-regular: hsl(214, 36%, 24%);
  --color-background-dark: hsl(214, 36%, 18%);
  --color-background-blur: hsl(214, 36%, 24%, 0.75);
  --color-background-light: hsl(214, 36%, 28%);
  --color-footer: hsl(214, 36%, 12%);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
