/* Link styling */
.aLink {
  text-decoration: underline;
  color: var(--color-background-dark);
}

/* Navigation wrapper */
.navigationWrapper {
  margin-top: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}

/* Icon wrapper */
.iconWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  font-size: 24px;
}

/* Logo styling */
.logo {
  width: 43px;
  height: 41px;
  flex-shrink: 0;
}

@media (min-width: 768px) {
  .logo {
    width: 55px;
    height: 52px;
  }
}

/* Wrapper styling */
.wrapper {
  position: sticky;
  top: 0;
  background-color: var(--color-background-blur);
  backdrop-filter: blur(10px);
  z-index: 999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.3s ease-in-out;
  padding: 8px 16px;
}

@media (min-width: 768px) {
  .wrapper {
    padding: 8px 32px;
    transform: translateY(-100%);
  }
  .wrapper.show {
    transform: translateY(0);
  }
}

@media (min-width: 1024px) {
  .wrapper {
    padding-left: 64px;
    padding-right: 64px;
  }
}

/* Navbar styling */
.navbar {
  display: none;
  align-items: center;
}

@media (min-width: 1024px) {
  .navbar {
    display: flex;
    gap: 64px;
  }
}

@media (min-width: 768px) {
  .navbar {
    gap: 36px;
  }
}

/* Banner styling */
.banner {
  grid-area: banner;
  background-color: var(--color-primary);
  color: var(--color-background-regular);
  padding: 8px 16px;
  text-align: center;
  font-size: 14px;
}

@media (min-width: 768px) {
  .banner {
    padding: 8px 32px;
  }
}

/* Sidebar styling */
.sidebar {
  z-index: 999;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  background-color: var(--color-background-regular);
  padding: 32px;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.sidebar.show {
  transform: translateX(0);
}

@media (min-width: 768px) {
  .sidebar {
    display: none;
  }
}

/* Menu button styling */
.menuButton {
  display: flex;
}

@media (min-width: 768px) {
  .menuButton {
    display: none;
  }
}

/* Overlay styling */
.overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.overlay.show {
  opacity: 1;
  pointer-events: all;
}
